<div [appTelemetryImpression]="telemetryImpression" class="twelve wide column menu-public-header blue-1">

  <div class="ui grid ">
    <div class="row">
      <div class="one wide tablet computer only column"></div>
      <div class="ten wide column get-page-background">
        <h1 class="ui medium header">
          Explore content using DIAL codes
          <span class="sub header"> 
            <small>Start exploring content by searching DIAL code on your ETB.</small>
          </span>
        </h1>
        <div class="ui icon input dial-search">
          <input type="text" name="search" (keyup.enter)="navigateToSearch()" [(ngModel)]="searchKeyword" placeholder="Enter DIAL code to search content" title="Search"/>
          <i class="search icon dialcode-search-icon dialcode-search-icon blue-1 cursor-pointer" (click)="navigateToSearch()"></i>
        </div>
      </div>
      <div class="one wide tablet computer only column"></div>
    </div>
  </div>

  <app-public-footer [instanceName]="instanceName"></app-public-footer>

  