/*get dial code page responsive css*/
.menu-public-header{
  border-top: 2px solid rgba(0,0,0,.13);
}
.bars.icon.tablet.sunbird-hamburger-menu {
    cursor: pointer;
    position: absolute;
    margin: 0;
    padding-top: 0.5em;
    opacity: .7;
    -webkit-transition: opacity .1s ease;
    transition: opacity .1s ease;
}
.bars.icon.mobile.sunbird-hamburger-menu {
  cursor: pointer;
  position: absolute;
  margin: 0;
  padding-top: 1.5em; 
}
.get-page-background {
  min-height:calc(100vh - 40px);
  background-image: url('assets/images/Dialcode.png');
  background-repeat: no-repeat;
  background-position: 100% 85%;
  background-size: 90%;
  display: flex !important;
  flex-direction: column;
  padding:15% 5% !important;
  justify-content: center;
   
}
@media screen and (min-width:768px){
  .get-page-background {
    background-position: 100% 50%;
    background-size: 65%;
    justify-content: initial;
  }
}
.get-page-background .ui.header,
.get-page-background .ui.header .sub.header{
  color:#fff !important;
}
