 <!-- footer -->
<div *ngIf="appFooter" class="ui dimmer modals page transition active mobile only">
  <div class="ui modal transition active ">
      <div class="header">
          <img class="ui tiny centered image" src="{{logo}}">
          <span class="capitalize-text">{{instanceName}}</span>
          <!--<i class="close icon closeBtn-dial-code" (click)="appFooter=false"></i>-->
      </div>
      <div class="content">
            <span>
              {{resourceService.frmelmnts?.lbl?.downloadThe}} 
              <span class="capitalize-text">{{instanceName}} {{resourceService.frmelmnts?.lbl?.app}}</span> 
              <span class="sub header padding-top-5"> 
                {{resourceService.frmelmnts?.lbl?.publicFooterGetAccess}}
              </span>
            </span>
            <div class="ui tiny image">
              <img src="https://play.google.com/intl/en_us/badges/images/badge_new.png">
            </div>
      </div>
      <div class="actions">
        <a href="app" class="ui positive button">
          INSTALL APP
        </a>
        <button class="ui positive basic button" (click)="appFooter=false">
          VIEW IN BROWSER
        </button>
      </div>
</div>
