.app-popup{
  background-color: #fff;
}
.close{
  color: #000000 !important;
  float:right;
}
.modal{
    transform: translateY(-50%);
  }
.mobileAppPopup{
  font-size:14px !important;
}
.mobileAppPopup small{
  font-size:12px !important;
  color: #999;
  line-height:1;
  display: block;
}