<div [appTelemetryImpression]="telemetryImpression">

  <div class="ui grid light-grey padded mobile only">

    <div class="row padding-none box-shadow-1 stretched">
        <div class="eight wide column padding-none">
            <div class="padding-10">Scan QR code right from your mobile browser</div>
        </div>
        <div class="four wide column blue-1 padding-none">
          <div class="ui icon input fluid">
            <button class="ui blue button btn-scan fluid margin-none br-0" (click)="showCamera = !showCamera;" id="startButton">
               <i class="qrcode icon heading"></i> <br />
               <small> Scan QR </small>
            </button>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="twelve wide column padding-10">
            <div class="ui fluid icon input dial-search">
              <input type="text" name="search" (keyup.enter)="navigateToSearch()" [(ngModel)]="searchKeyword" placeholder="{{resourceService.frmelmnts?.prmpt?.searchContent}}"
                  title="Search" />
              <i class="search icon dialcode-search-icon blue-1 cursor-pointer" (click)="navigateToSearch()"></i>
            </div>
        </div>
    </div>

  </div>

  <div class="blue-1">
    <div class="ui grid container tablet computer only margin-none">
      <div class="row">
        <div class="three wide computer  eight wide tablet column">
          <div class="ui fluid icon input dial-search">
            <input type="text" name="search" (keyup.enter)="navigateToSearch()" [(ngModel)]="searchKeyword" placeholder="{{resourceService.frmelmnts?.prmpt?.searchContent}}"
              title="Search" />
            <i class="search icon dialcode-search-icon blue-1 cursor-pointer" (click)="navigateToSearch()"></i>
          </div>
        </div>
      </div> 
    </div>
  </div>
  

  <div class="ui grid container margin-none padding-10" *ngIf="!showLoader">
      <div class="row padding-none">
        <div class="twelve wide column">Search results for {{resourceService.frmelmnts?.lbl?.dialCode}} {{dialCode}}</div>
        <div class="twelve wide column">{{searchResults.length}} results</div>
      </div>
  </div>
  <hr style="width:100%"/>
  <div class="row" *ngIf="showCamera===true" >
      <div class="six wide computer eleven wide mobile eight wide tablet column centered padding-top-10">
        <div class="ui fluid icon input">
          <div *ngIf="startCamera===true" class="overlay"> </div>
            <div id="cameraCover">
              <a class="ui primary button resetCameraB" *ngIf="startCamera===true" (click)="resetCamera(); startCamera = !startCamera;" id="resetButton">
                <i class="redo alternate icon"></i> Reset Camera
              </a>
              <div class="screen">
                  <video class="" id="video">
                  </video>
              </div>
              <div *ngIf="startCamera===true" class="scan" id="scanLine"></div>
              <div class="enableCameraMsg center aligned">
                  <a class="center" (click)="scanQRCode(); startCamera = !startCamera;" id="startButton">
                    <i class="camera icon"></i> <br/>Start Camera
                  </a>
              </div>
            </div>
        </div>
      </div>
  </div>  
  <div class="row">
      <div class="one wide column"></div>
      <div class="ten wide column">
        <div class="twelve wide column" *ngIf="showLoader">
          <app-loader [data]='loaderMessage'></app-loader>
        </div>
      </div>
      <div class="one wide column"></div>
  </div>
  <div class="row" *ngIf="searchResults.length > 0">
      <div class="one wide column"></div>
      <div class="ten wide column">
        <!--div style="font-weight: 650 !important;" class="ui tiny header padding-top-30"> {{resourceService.frmelmnts?.lbl?.linkedContents}} ({{searchResults.length}})
        </div-->

      </div>
      <div class="one wide column"></div>
  </div>
  <div class="row">
    <div class="one wide column"></div>
      <div class="ten wide column">
        <div in-view-container (inview)="inview($event)" [throttle]="[1000]" [trigger]="searchResults" class="ui stackable four column grid dynamic-section-card ">
          <div in-view-item [id]="i" [data]="content" class="column padding-top-5 padding-bottom-5 padding-left-10" *ngFor="let content of searchResults;let i = index;">
              <app-pin [data]="content" (clickEvent)="getEvent($event)"></app-pin>
          </div>
        </div>
      </div>
      <div class="one wide column"></div>
  </div>
</div>
<app-public-footer [instanceName]="instanceName"></app-public-footer>
