/*get dial code page responsive css*/
.ui.footer.segment {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 989898;
}
.bars.icon.tablet.sunbird-hamburger-menu {
    cursor: pointer;
    position: absolute;
    margin: 0;
    padding-top: 0.5em;
    opacity: .7;
    -webkit-transition: opacity .1s ease;
    transition: opacity .1s ease;
}
.get-page-background {
  background: linear-gradient(-90deg, #5C8DB7, #91AECC);
  height: 100vh;
}
.dailcode-page-background {
  background: #f9f9f9;
  height: 100vh;
}
.bars.icon.mobile.sunbird-hamburger-menu {
    cursor: pointer;
    position: absolute;
    margin: 0;
    padding-top: 1.5em; 
}
.dial-section-header {
  margin-top: 3em;
}
.dail-section-meta {
  color: white;
}
.ui.header.dial-section-header-text {
  color:#fff;
}
.ui.header .sub.header.dial-section-subheader-text {
  color: #fff;
  font-size: 1rem;
}
.dial-section-input {
  margin-top: 10em;
}
@media screen and  (min-width: 240px) and (max-width: 768px) {
  .dial-section-input {
    margin-top: 2em;
  }
}
@media screen and  (min-width: 320px) and (max-width: 768px) {
  .ui.header.dial-section-header-text {
    padding-top: 4em !important;
  }
}
.dial-code-section-bg {
  background: #fff;
}
@media only screen and (max-width: 767px) {
  .ui.container.public-responvive-container {    
    margin-right: 0 !important; 
  } 
}
@media only screen and (min-width: 768px) {
  .closeBtn-dial-code {
    float:right;
  }
}
@media screen and  (min-width: 320px) and (max-width: 768px) {
  .ui.small.header.popUp-dial-code-header {
    font-size: 1.2em;
  }
}
.menu-public-header{
  border-top: 2px solid rgba(0,0,0,.13);
}

#cameraCover{
  margin:auto;
  position:relative;
  width:420px;
  height:315px;
  border:1px solid black;
  border-radius:3px;
  overflow: hidden;
  box-sizing: border-box;
}
#cameraCover .screen
{
 position: absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 z-index: 2;
 background: rgba(200,200,200,0.9);
}
.overlay+#cameraCover video{
  width:100%;
}
.overlay+#cameraCover .scan
{
  width:100%;
  height:1px;
  background-color:rgba(255,0,0,0.7);
  position:absolute;
  z-index:5;
  -moz-animation: scan 4s infinite;
  -webkit-animation: scan 4s infinite;
  animation: scan  4s infinite linear;
  animation-delay: 1s;
  -webkit-animation-direction: alternate-reverse;
  box-shadow:0 0 5px 5px rgba(255,0,0,0.2);
}
.enableCameraMsg{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  z-index: 3;
  font-size:20px;
  font-weight: 500;
  line-height: 30px;
  cursor: pointer;
};

.resetCameraB{
  z-index: 8;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
}

.overlay{
  position: fixed;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  background-color: rgba(0,0,0,0.6);
  z-index: 5;
}
.overlay+#cameraCover{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: 6;
  border-color:#ccc;
}
.overlay+#cameraCover .screen{
  z-index:4;
}
@-webkit-keyframes scan {
  0%{
    top:0;
  }
  25%{
    top:50%;
  }
  50%{
    top:100%;
  }
  75%{
    top:50%;
  }
  100% {
    top:0;
  }
}